:root {
    background-color: #D3CEDF;
}

body {
    margin-top: 100px;
}

#app {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    margin: auto;
    align-items: center;
    border: 0px solid;
    border-radius: 50px;
    background-color: #92dfd9;
}

ul {
    align-self: flex-start;
}